<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static '/js/global.js' %}"></script>
    <title>Account | PawPrints</title>
    <style>
    </style>
</head>
<body>


    {{ first_name }}
    {{ last_name }}
    {% for petition in petitions_created %}
        {{ petition.title }}
    {% endfor %}


    <button class="create_petition">Click me to add a petition.</button>

</body>
</html>