<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to PawPrints!</title>
</head>
<body>

<form name="LoginForm" action="/login/" method="post">
    {% csrf_token %}
    <div>
        <label for="username">Username</label>
        <div>
            <input type="text" id="username" name="username"  placeholder="Username">
        </div>
    </div>
    <div>
        <label for="password">Password</label>
        <div>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
    </div>
    <div>
        <div>
            <button type="submit" class="btn">Login</button>
        </div>
    </div>
</form>

</body>
</html>
