<!DOCTYPE html>
<html lang="en">
<head>
    {% load compress %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css">
    {% include 'head.html' with analytics_id=analytics_id %}
    <title>Account | {{ name }}</title>

    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/profile.css' %}">
    {% endcompress %}
</head>
<body>

<div id="wrapper">
    {% include 'header.html' with main_logo=main_logo generate_top_nav=generate_top_nav %}
    <main class="full-width">
        <section id="landing" class="text-center overflow-hidden">
            <h1>{{ first_name }} {{ last_name }}</h1>
            <h5>{{ email }}</h5>
        </section>
        <section id="sub-landing" class="ninety-width">
            <form id="settings" name="settings" method="post" action="{% url 'profile:notification_update' user_id=uid %}">
                {% csrf_token %}
                <ul class="list">
                    <li class="list-item block padding overflow-hidden">
                        <label class="block left ninety-width padding cursor" for="updates">
                            E-mail me when new status updates are petitioned on petitions I sign
                        </label>
                        <div class="right padding-right padding-top">
                            <input id="updates" class="js-switch" type="checkbox" name="updates" {% if notification_settings.update %} checked="checked" {% endif %}>
                        </div>
                    </li>
                    <li class="list-item block padding overflow-hidden">
                        <label class="block left ninety-width padding cursor" for="response">
                            E-mail me when an official response is petitioned on a petition I sign.
                        </label>
                        <div class="right padding-right padding-top">
                            <input id="response" class="js-switch " type="checkbox" name="response" {% if notification_settings.response %} checked="checked" {% endif %}>
                        </div>
                    </li>
                </ul>
            </form>
        </section>
        <section>
            <div class="ninety-width">
                {% if petitions_created.count > 0 %}
                    <h1>Petitions Created</h1>
                    {% for petition in petitions_created %}
                        <article class="padding white-background cursor" onclick="window.location.href='/?p={{petition.id}}'">
                            <h3 class="text-highlight capitalize inline-block">{{ petition.title }}</h3>
                            {% if petition.status == 0 %}
                                <p class="inline-block margin-left italics">Not Published</p>
                                <p class="right">
                                    <a href="/petition/unpublish/{{petition.id}}" class="delete-petition material-icon-container modern-link cursor margin-right">Delete
                                        <i class="material-icons">delete</i>
                                    </a>
                                </p>
                            {% else %}
                                <p class="inline-block margin-left">Published</p>
                                <p class="inline-block margin-left">{{petition.signatures}} / 200 Signatures</p>
                            {% endif %}
                        </article>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    </main>
</div>

<script>
    $(document).ready(function(){

        window.plugins = {
            "switchery":[]
        };
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        elems.forEach(function(html) {
            window.plugins.switchery.push(new Switchery(html,{size:"small"}));
        });
        $("#settings").find("input").change(function(){

            var form = $(this).closest("form");

            $.post(form.attr("action"), form.serialize(),function(r){
                if(!r){
                    console.log("Error saving user preferences. User sent does not matched logged in user.");
                }
            });

        });

    });
</script>

</body>
</html>