# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
.pytest_cache/
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
*.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# PawPrints project specific dirs/files
env
*.swp
secrets.py
profanity_list.py

.idea/misc.xml

.idea/PawPrints.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/PawPrints.iml

*.orig
profanity.csv

#logs
*.log

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/modules.xml

*.xml

static/css/index.css
static/css/about.css
static/css/petition.css
static/css/admin.css
static/css/profile.css
static/css/global.css
static/css/committees.css
static/js/petitionedit.js
static/js/index.js
static/js/global.js

# Compressed assets
static/CACHE/*

PawPrints - Make your mark.webarchive
/pawprints/secrets.py

*.key
*.crt

*.iml
*.rdb
!/static/images/browserconfig.xml

.idea/
