amqp==2.1.4
appdirs==1.4.3
asgi-redis==1.3.0
asgiref==1.1.1
attrs==16.3.0
autobahn==0.18.1
Automat==0.5.0
Babel==2.4.0
billiard==3.5.0.2
celery==4.0.2
channels==1.1.3
constantly==15.1.0
contextlib2==0.5.5
daphne==1.2.0
Django==1.11
django-auth-ldap==1.2.10
flower==0.9.1
incremental==16.10.1
kombu==4.0.2
msgpack-python==0.4.8
packaging==16.8
psycopg2==2.7.1
pyldap==2.4.28
pyparsing==2.2.0
pytz==2017.2
raven==6.0.0
redis==2.10.5
requests==2.13.0
six==1.10.0
slacker==0.9.42
tornado==4.4.3
Twisted==17.1.0
txaio==2.6.2
vine==1.1.3
zope.interface==4.3.3
