appdirs==1.4.0
asgi-redis==1.0.0
asgiref==1.0.0
autobahn==0.17.1
channels==1.0.2
constantly==15.1.0
daphne==1.0.1
Django==1.10.5
django-auth-ldap==1.2.8
incremental==16.10.1
msgpack-python==0.4.8
packaging==16.8
pyldap==2.4.28
pyparsing==2.1.10
redis==2.10.5
six==1.10.0
Twisted==16.6.0
txaio==2.6.0
zope.interface==4.3.3
