amqp==2.1.4
appdirs==1.4.3
asgi-redis==1.1.0
asgiref==1.0.1
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
Babel==2.3.4
billiard==3.5.0.2
celery==4.0.2
channels==1.1.1
constantly==15.1.0
daphne==1.1.0
Django==1.10.6
flower==0.9.1
incremental==16.10.1
isodate==0.5.4
kombu==4.0.2
lxml==3.7.3
msgpack-python==0.4.8
packaging==16.8
pkgconfig==1.2.2
psycopg2==2.7.1
pyparsing==2.2.0
python3-saml==1.2.3
pytz==2016.10
redis==2.10.5
requests==2.13.0
six==1.10.0
slacker==0.9.42
tornado==4.4.2
Twisted==17.1.0
txaio==2.6.1
vine==1.1.3
xmlsec==1.0.7
zope.interface==4.3.3
