<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'head.html' %}
    <style>
        body{
            background-color: #f36e21;
            color: #fff;
            text-align: center;
        }
    </style>
</head>
<body>
    <main>
        <section>
            <article>
                <img src="/static/images/pawprints.svg" width="300px">
                <h1>We're preparing for something special.</h1>
                <hr>
                <h4>PawPrints is getting an update, and we think you're going to like it!</h4>
            </article>
        </section>
    </main>
</body>
</html>
