/* -- Modified HTML Tags -- */
html, body{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", Arial;
    background-color: #fefefe;
}
header{
    top: 0px;
    left: 0px;
    font-family: "Raleway", Arial;
    background-color: #fff;
    z-index:1000;
}
main{
    margin-top: 40px;
}
/* -- Global Classes -- */
.transition{
    -webkit-transition: all 0.20s linear;
    -moz-transition: all 0.20s linear;
    -ms-transition: all 0.20s linear;
    -o-transition: all 0.20s linear;
}
.material-icon-container{
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}
.full-width{
    width: 100%;
    overflow: hidden;
}
.ninety-width {
    width: calc(90% - 40px);
    padding: 40px;
    overflow: hidden;
    margin: 0 auto;
}
.content-wrapper{
    width: 90%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
}
.text-center{
    text-align: center;
}
.text-center span{
    display: block;
    margin: 0 auto;
    width: 30%;
    min-width: 200px;
    text-align: center;
}
.fixed{
    position: fixed;
    left:0px;
}
.hidden{
    display: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.list{
    padding:0;
    margin: 0;
    overflow: hidden;
}
.list-item{
    list-style-type:none;
}
.material-line{
    width: 100px;
    height: 1px;
    border: none;
    margin: 0.7em auto;
    padding: 0;
    background-color: #ccc;
}
.material-input{
    padding: 7px 15px;
    border: 0px;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    font-size: 1em;
    margin: 0;
    -webkit-transition: border-color 320ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: border-color 320ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: border-color 320ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: border-color 320ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.material-shadow{
    -webkit-box-shadow: 0px 0px 5px 0px #eee;
    -moz-box-shadow:    0px 0px 5px 0px #eee;
    -o-box-shadow:      0px 0px 5px 0px #eee;
    box-shadow:         0px 0px 5px 0px #eee;
}
.material-input:focus{
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.parallax-container{
    height: calc(90vh - 70px);
    display: block;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.padded{
    padding: 1em;
}
/* -- Global IDs -- */
#logo{
    font-size: 2em;
}
/* -- Per-Element Styles -- */
/* - Header - */
#about-link i{
    margin-right: 0.5em;
}
#user-menu{
    position: relative;
}
#user-menu button{
    margin-left: 1em;
}
#user-menu #account-dropdown{
    position: absolute;
    top: 70px;
    left: 0;
    padding: 10px;

}
.large-header #header-top{
    line-height: 70px;
}
.small-header #header-top{
    line-height: 60px;
}
.small-header #tags{
    padding: 10px 0;
}
.small-header #tags h5{
    display: none;
}
.header-scrolled{
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 5px -5px #ccc;
    -webkit-box-shadow: 0px 5px 5px -5px #ccc;
    -moz-box-shadow: 0px 5px 5px -5px #ccc;
    -o-box-shadow: 0px 5px 5px -5px #ccc;
}
#logo span{
    display: inline-block;
    width: auto;
    min-width: 0;
}
@media screen and (max-width: 400px){
    #logo span{
        display: none;
    }
}