.dropbtn,.dropbtn-mobile{
    background-color:#f70;
    color:var(--bright_text);
    font-size:12px;
    border:none;
    outline:0
}
.dropbtn,.dropbtn-mobile,.dropdown-left a{
    font-weight:700;
    cursor:pointer
}
#sg-global-nav{
    overflow:hidden;
    height:30px;
    padding:0
}
.dropbtn{
    position:relative;
    padding-right:20px;
    padding-bottom:5px;
    padding-top:5px
}
.dropbtn-mobile{
    padding-right:1em;
    height:30px
}
.dropdown-left{
    text-align:left;
    position:fixed;
    display:inline-block;
    width:50%;
    z-index:99;
    height:30px;
    padding-left:5%;
    font-family:Montserrat;
    line-height:27px
}
.dropdown-right-main,.dropdown-right-mobile{
    z-index:99;
    height:30px;
    font-family:Montserrat;
    text-align:right
}
.dropdown-right-mobile{
    display:none;
    position:fixed;
    width:50%;
    margin-left:50%
}
.dropdown-content,.dropdown-content-mobile{
    position:absolute;
    min-width:160px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
    z-index:1;
    text-align:left;
    font-size:12px
}
.dropdown-content{
    display:none;
    right:0;
    background-color:#f9f9f9;
    border-top:8px;
    border-top-style:solid;
    border-top-color:#f70;
    margin-top:5px;
    font-family:Montserrat
}
.dropdown-content a,.dropdown-content-mobile a,.dropdown-content-mobile p{
    display:block;
    font-family:Montserrat;
    text-decoration:none
}
.dropdown-content a{
    color:#000;
    padding:12px 16px
}
.dropdown-content-mobile p{
    color:#000;
    padding:8px 12px;
    margin-bottom:0;
    background-color:#d3d3d3
}
.dropdown-content a:hover{
    color:grey
}
.dropdown-content-mobile a{
    color:#000;
    padding:0 8px
}
.dropdown-content-mobile a:hover{
    color:grey
}
.dropdown-content-mobile{
    display:none;
    background-color:#f9f9f9;
    border-top-style:solid;
    border-top-color:#f70;
    font-family:Montserrat;
    right:10px;
    padding-bottom:10px
}
.dropdown-left a{
    background-color:#f70;
    color:var(--bright_text);
    font-size:12px;
    border:none;
    font-family:Montserrat;
    height:20px;
    text-align:center;
    margin-top:20px
}
.dropdown-left a:hover{
    text-decoration:none
}
.header-top{
    height:30px;
    background-color:#f70;
    z-index:1001;
    position:fixed;
    top:0;
    left:0;
    right:0
}
body,html{
    position:relative
}
.show{
    display:block
}
@media screen and (max-width:992px){
    .dropdown-right-main{
        display:none
    }
    .dropdown-right-mobile{
        display:inline-block
    }
}
.white-text{
    color: var(--bright_text);
}
.white-text:hover{
    color: var(--bright_text);
     text-decoration: none;
}