.text-highlight{
color: {{ colors.highlight }} !important;
}
.bright-text{
color: {{ colors.bright_text }} !important;
}
.dark-text{
color: {{ colors.dark_text }} !important;
}
.modern-link{
color: {{ colors.dark_text }};
text-decoration: none;
}
.material-input:focus{
border-color: {{ colors.highlight }};
}
.alternate-font{
    font-family: "Slabo 27px", sans-serif;
}
.tag:hover{
    cursor: pointer;
}
body{
    min-height: 100vh;
    background-color: #f5f5f5;
}
main{
    margin-top: 0;
}
h1,h2,h3,h4,h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: inherit;
}
header{
    border-bottom: 3px solid #ccc;
}
#landing{
    margin-top: 100px;
}
.orange-background{
    background-color: {{ colors.main_color }};
    color: #FFF;
}
article{
    width: 50%;
    float: left;
    overflow: hidden;
    position: relative;
}
article.transition:hover{
    transform: scale(1.01,1.01);
}
article.transition.white-background:hover{
    background-color: #f0f0f0;
}
article.transition.orange-background:hover{
    background-color: {{ colors.main_color }};
}
article:last-child{
    width: 100%;
}
article h1{
    height: calc(50vh - 114px);
    line-height: calc(50vh - 114px);
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight:800;
}
article div{
    position: absolute;
    top:0;
    left:0;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.71);
    color:#fff;
}
article div:hover{
    cursor: default;
}
article div p{
    font-family: "Montserrat", sans-serif;
}
.committee-article {
    width:33% !important;
}
#sub-landing{
    padding-top: 0;
}
#back-up:hover{
    -webkit-box-shadow: 0 0 0 0 #000;
    -moz-box-shadow:    0 0 0 0 #000;
    -o-box-shadow:      0 0 0 0 #000;
    box-shadow:         0 0 0 0 #000;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
@media screen and (max-width: 600px){
    article{
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .committee-article {
        width: 50% !important;
    }
}
@media screen and (max-width: 800px) {
    .committee-article {
        width: 100% !important;
    }
}
