.text-highlight{
color: var(--highlight) !important;
}
.bright-text{
color: var(--bright_text) !important;
}
.dark-text{
color: var(--dark_text) !important;
}
.modern-link{
color: var(--dark_text);
text-decoration: none;
}
.material-input:focus{
border-color: var(--highlight);
}
.alternate-font{
    font-family: "Slabo 27px", sans-serif;
}
.tag:hover{
    cursor: pointer;
}
body{
    min-height: 100vh;
    background-color: #f5f5f5;
}
main{
    margin-top: 0;
}
h1,h2,h3,h4,h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: inherit;
}
header{
    border-bottom: 3px solid #ccc;
}
#landing{
}
article{
    
}
article h1{
    
}
article div{
    
}
article div p{
    font-family: "Montserrat", sans-serif;
}
.committee-article {
    width:33% !important;
}
#sub-landing{
    padding-top: 0;
}
#back-up:hover{
    -webkit-box-shadow: 0 0 0 0 #000;
    -moz-box-shadow:    0 0 0 0 #000;
    -o-box-shadow:      0 0 0 0 #000;
    box-shadow:         0 0 0 0 #000;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
@media screen and (max-width: 600px){
    article{
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .committee-article {
        width: 50% !important;
    }
}
@media screen and (max-width: 800px) {
    .committee-article {
        width: 100% !important;
    }
}
    