<html>
	<style>

		html, body{
			margin: 0;
			padding: 0;
		}

		.social-widget{
			margin: 0 auto;
		}

		.social-container{
			width: 100%;
			text-align: center;
			margin: 0 auto;
			margin-top: 0px;
			padding-bottom: 0px;
		}

		.social-button{
			width: 15%;
			float: left;
		}

		.social-container:hover .social-button{
			-webkit-transition: all .2s ease;
			opacity: 0.5;
		}

		.social-container .social-button:hover{
			-webkit-transition: all .2s ease;
			opacity: 1;
		}
		
	</style>
	<div class="social-container">
		<a href="http://www.facebook.com/sharer/sharer.php?u={{petition_url}}"><img class="social-button" src="/static/facebook.svg" /></a>
		<a href="http://www.reddit.com/submit?url={{petition_url}}"><img class="social-button" src="/static/reddit.svg" /></a>
		<a href="http://www.twitter.com/share?url={{petition_url}}"><img class="social-button" src="/static/twitter.svg" /></a>
		<a href="https://plus.google.com/share?url={{petition_url}}"><img class="social-button" src="/static/gplus.svg" /></a>
		<a href="https://www.linkedin.com/cws/share?url={{petition_url}}"><img class="social-button" src="/static/linkedin.svg" /></a>
	</div>
</html>