{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static '/css/global.css' %}" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="{% static '/images/pawprints-logo.png' %}" />
<link rel="apple-touch-icon" href="{% static '/images/pawprints-logo-mobile.png' %}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Raleway:300,400|Slabo+27px" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/jquery-smart-web-app-banner/1.5/jquery.smartwebbanner.min.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-smart-web-app-banner/1.5/jquery.smartwebbanner.min.js"></script>
<script src="{% static '/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static '/js/global.js' %}"></script>