{% load compress %}
{% load static %}

{% compress js %}
<script src="{% static '/js/header.js' %}"></script>
{% endcompress %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<nav>
    <div class = "header-top">

        <div class="dropdown-left">
            <a href="https://sg.rit.edu/">RIT Student Government</a>
        </div>

        <div class="dropdown-right-main">
            <button id="1" onmouseover="openDropdown(this.id)" onmouseout="closeDropdown(this.id)" class="dropbtn">
                About
                <i class="material-icons" style="font-size:12px;font-weight: bold;">keyboard_arrow_down</i>
                <div id="myDropdown1" class="dropdown-content">
                    <a href="https://sg.rit.edu/about/leadership/">Leadership</a>
                    <a href="https://sg.rit.edu/about/">Structure</a>
                    <a href="https://sg.rit.edu/about/mission-and-vision/">Mission and Vision</a>
                    <a href="https://sg.rit.edu/about/committees/">Committees</a>
                    <a href="https://sg.rit.edu/about/msos/">MSO's</a>
                    <a href="https://sg.rit.edu/awards/">Awards</a>
                </div>
            </button>

            <button id="2" onmouseover="openDropdown(this.id)" onmouseout="closeDropdown(this.id)" class="dropbtn">Services
                <i class="material-icons" style="font-size:12px;font-weight: bold;">keyboard_arrow_down</i>
                <div id="myDropdown2" class="dropdown-content">
                    <a href="https://sg.rit.edu/services/">Services Overview</a>
                    <a href="https://pawprints.rit.edu/">Paw Prints</a>
                    <a href="https://bikeshare.rit.edu/">Bike Share</a>
                    <a href="https://sg.rit.edu/legalaid/">Legal Aid</a>
                    <a href="https://ritpedia.rit.edu/Main_Page">RITpedia</a>
                    <a href="https://openevals.rit.edu/">Open Evals</a>
                    <a href="https://sites.sg.rit.edu/">SG Sites</a>
                    <a href="https://sg.rit.edu/finance/">Finance</a>
                    <a href="https://sg.rit.edu/breakbus/">Bike Share</a>
                </div>
            </button>

            <button id="3" onmouseover="openDropdown(this.id)" onmouseout="closeDropdown(this.id)" class="dropbtn">Resources
                <i class="material-icons" style="font-size:12px;font-weight: bold;">keyboard_arrow_down</i>
                <div id="myDropdown3" class="dropdown-content">
                    <a href="https://sg.rit.edu/sgupdates/">SG Updates</a>
                    <a href="https://sg.rit.edu/resources/">Resourse List</a>
                    <a href="https://sg.rit.edu/resources/sg-logos/">SG Logos</a>
                </div>
            </button>

            <button id="4" onmouseover="openDropdown(this.id)" onmouseout="closeDropdown(this.id)" class="dropbtn">Get Involved
                <i class="material-icons" style="font-size:12px;font-weight: bold;">keyboard_arrow_down</i>
                <div id="myDropdown4" class="dropdown-content">
                    <a href="https://sg.rit.edu/spirit/">Project SpiRIT</a>
                    <a href="https://sg.rit.edu/get-involved/events-calendar/">Event Calendar</a>
                    <a href="https://sg.rit.edu/get-involved/">Opportunities</a>
                </div>
            </button>
        </div>

        <div class="dropdown-right-mobile">
            <button id="10" onmouseover="openDropdown(this.id)" onmouseout="closeDropdown(this.id)" class="dropbtn-mobile">
                <i class="material-icons">dehaze</i>

                <div id="myDropdown10" class="dropdown-content-mobile">

                    <p>About</p>
                    <a href="https://sg.rit.edu/about/leadership/">Leadership</a>
                    <a href="https://sg.rit.edu/about/">Structure</a>
                    <a href="https://sg.rit.edu/about/mission-and-vision/">Mission and Vision</a>
                    <a href="https://sg.rit.edu/about/committees/">Committees</a>
                    <a href="https://sg.rit.edu/about/msos/">MSO's</a>
                    <a href="https://sg.rit.edu/awards/">Awards</a>

                    <p>Services</p>
                    <a href="https://sg.rit.edu/services/">Overview</a>
                    <a href="https://pawprints.rit.edu/">Paw Prints</a>
                    <a href="https://bikeshare.rit.edu/">Bike Share</a>
                    <a href="https://sg.rit.edu/legalaid/">Legal Aid</a>
                    <a href="https://ritpedia.rit.edu/Main_Page">RITpedia</a>
                    <a href="https://openevals.rit.edu/">Open Evals</a>
                    <a href="https://sites.sg.rit.edu/">SG Sites</a>
                    <a href="https://sg.rit.edu/finance/">Finance</a>
                    <a href="https://sg.rit.edu/breakbus/">Bike Share</a>

                    <p>Resources</p>
                    <a href="https://sg.rit.edu/sgupdates/">SG Updates</a>
                    <a href="https://sg.rit.edu/resources/">Resourse List</a>
                    <a href="https://sg.rit.edu/resources/sg-logos/">SG Logos</a>

                    <p>Get Involved</p>
                    <a href="https://sg.rit.edu/spirit/">Project SpiRIT</a>
                    <a href="https://sg.rit.edu/get-involved/events-calendar/">Event Calendar</a>
                    <a href="https://sg.rit.edu/get-involved/">Opportunities</a>
                </div>
            </button>

        </div>

    </div>
</nav>

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/header.css' %}">
{% endcompress %}

<header class="full-width fixed transition large-header">
    <div id="header-top" class="transition">
        <nav class="left">
            <span class="material-icon-container hidden"><i class="material-icons">menu</i></span>
            <ul class="list">
                <li id="about" class="list-item left">
                    <a id="about-link" class="modern-link material-icon-container" href="/about">
                        <i class="material-icons hidden">info_outline</i><span id="about-text">About</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="right">
            <div id="menu">
                <div id="menu-content" class="material-icon-container">
                    {% if user.first_name %}
                        <span>Hi there, {{ user.first_name }}</span>
                        <i class="material-icons">keyboard_arrow_down</i>
                        <ul id="account-dropdown" class="list hidden transition">
                            <li><a href="/profile" class="block modern-link">Profile</a></li>
                            {% if user.is_superuser %}
                                <li><a href="/profile/manage/staff" class="block modern-link">Admin Panel</a></li>
                            {% endif %}
                            <li><a href="/logout/?next=/" class="block modern-link">Log Out</a></li>
                        </ul>
                    {% else %}
                        <button onclick="window.location.href='/login/'" class="material material-button material-shadow transition">Login</button>
                    {% endif %}
                </div>
                <button id="menu-icon" class="hamburger hamburger--collapse" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
                </button>
            </div>
        </div>
        <div class="text-center">
            <span id="logo" class="transition">
                <a class="modern-link text-highlight" href="/">
                    <img class='transition' src="/static/images/pawprints.svg" alt="PawPrints" />
                </a>
            </span>
        </div>
        <nav id="mobile-nav">
            <div>
                <ul>
                    <li><span><h3>Pages</h3></span></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    {% if user.first_name %}
                        {% if user.is_superuser %}
                            <li>
                                <a href="/profile/manage/staff">Admin Panel</a>
                            </li>
                        {% endif %}
                        <li>
                            <a>Account</a>
                            <ul>
                                <li><span><h3>Hi there, {{ user.first_name }}.</h3></span></li>
                                <li><a href="/profile" class="modern-link">Profile</a></li>
                                <li><a href="/logout/?next=/" class="modern-link">Log Out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <button onclick="window.location.href='/login/'" class="material material-button material-shadow transition">Login</button>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>
<div id="modal-template" class="">
    <div class="modal hidden">
        <div class="modal-overlay hidden"></div>
        <div class="modal-container">
            <button class="modal-close-button hidden cursor">&times;</button>
            <div class="modal-header text-center padding-top">
                <span class="material-icon-container padding hidden"><i class="material-icons"></i></span>
                <div class="modal-header-content overflow-hidden"></div>
            </div>
            <div class="modal-body">
                <div class="modal-content"></div>
                <div class="modal-buttons hidden"></div>
            </div>
        </div>
    </div>
</div>