<header class="full-width fixed large-header">
    <div id="header-top" class="content-wrapper transition">
        <nav class="left">
            <span class="material-icon-container hidden"><i class="material-icons">menu</i></span>
            <ul class="list">
                <li id="about-link" class="list-item left">
                    <a class="modern-link material-icon-container" href="#">
                        <i class="material-icons">info_outline</i><span id="about-text">About</span>
                    </a>
                </li>
                <li class="list-item left hidden">
                    <a class="modern-link" href="#">Recognised</a>
                </li>
            </ul>
        </nav>
        <div class="right">
            <span id="user-menu" class="material-icon-container">
                <i class="material-icons">person</i>
                {% if user.first_name %}
                    <span id="user-welcome">Welcome, {{ user.first_name }}</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                    <ul id="account-dropdown" class="list hidden">
                        <li class="list-item">Account</li>
                        <li class="list-item">Log Out</li>
                    </ul>
                {% else %}
                    <button onclick="window.location.href='/login/'" class="material material-button material-shadow transition">Login</button>
                {% endif %}
            </span>
        </div>
        <div class="text-center">
            <span id="logo" class="transition">
                <a class="modern-link text-highlight" href="/">
                    <img class='transition' src="/static/images/pawprints.svg" alt="PawPrints" />
                </a>
            </span>
        </div>
    </div>
</header>