{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static '/css/global.css' %}" rel="stylesheet" />

<link rel="manifest" href="/images/manifest.json?v=almPJP7aEo">

<link rel="shortcut icon" href="/images/favicon.ico?v=almPJP7aEo">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=almPJP7aEo" color="#f36e21">
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=almPJP7aEo">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png?v=almPJP7aEo">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png?v=almPJP7aEo">

<meta name="msapplication-config" content="/images/browserconfig.xml?v=almPJP7aEo">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Raleway:300,400|Slabo+27px" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/jquery-smart-web-app-banner/1.5/jquery.smartwebbanner.min.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-smart-web-app-banner/1.5/jquery.smartwebbanner.min.js"></script>
<script src="{% static '/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static '/js/global.js' %}"></script>