<!DOCTYPE html>
<html lang="en">
<html prefix="og: http://ogp.me/ns#">
<head>
    {% load compress %}
    <meta property="og:title" content="PawPrints" />
    <meta property="og:description" content="Make Your Mark. Create and sign petitions. Receive official responses from Student Government." />
    <meta property="og:image" content="https://pawprints.rit.edu/static/images/pawprintsemail.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    {% load static %}
    {% include 'head.html' %}
    {% if user.is_staff %}
        <script src="{% static '/tinymce/tinymce.min.js' %}"></script>
    {% endif %}
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
 
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
    {% endcompress %}

    <title>PawPrints - Make your mark</title>
</head>
<body>

<div id="wrapper">
{% include 'header.html' %}
<div id="petition-modal" class="hidden">
    <div class="modal">
        <div class="modal-overlay hidden" @click="closePetition()"></div>
        <div class="modal-container hidden">
            <div class="modal-header overflow-hidden material-shadow">
                <h2 class="inline-block text-highlight">{[ petition.title ]}</h2>
                <span class="inline-block">Petition by {[ petition.author ]}</span>
                <div id="petition-close" class="inline-block right padding" @click="closePetition()"><span class="material-icon-container"><i class="material-icons">close</i></span></div>
            </div>
            <div class="modal-body relative block">
                <div id="timeline-container">
                    <div class="timeline-element material-shadow animated zoomIn relative" v-for="(element, index) in timeline" v-bind:key="index" :data-type="element.type" :data-element="index">
                        <div class="timeline-element-wrap">
                            <div class="timeline-element-arrow-container">
                                <div class="timeline-element-arrow" v-if="element.type != 'created'"></div>
                                <div class="timeline-element-dot circle"></div>
                            </div>
                            <div class="timeline-element-body" v-if="element.type != 'created'">
                                <h4 class="timeline-element-header">
                                    <span class="text-highlight">{[ element.type ]}</span>
                                    <span v-if="element.date==0">Today</span>
                                    <span v-else>
                                        {[ element.date ]} Day<span v-if="element.date>1">s</span> Ago
                                    </span>
                                    {% if user.first_name and user.is_staff %}
                                        <span v-if="element.type == 'SG Update' || element.type == 'Official Response'" class="right padding-left">
                                            <i class="admin-edit-icon cursor material-icons">edit</i>
                                        </span>
                                    {% endif %}
                                </h4>
                                <div class="timeline-element-content" v-html="element.content"></div>
                            </div>
                            <div class="timeline-element-body" style="padding-top:14px;" v-else>
                                <span> Created by {[ element.author ]} on {[ petition.timestamp ]}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer overflow-hidden relative material-shadow transition" data-hidden="false">
                <!-- This section changes based on the state the petition is in. -->
                <!-- Petition is in progress, show the progress tracking and sharing features. -->
                <div id="petition-actions" class="overflow-hidden">
                    <div v-if="petition.status == 1">
                        <div id="signature-card" class="petition-action-card left margin-left">
                            <button id="sign-petition-button" class="material material-button material-shadow transition" :disabled="petition.expired || petition.response || petition.isSigned || '{{ user.first_name }}' == '' {% if user.profile %} || ({{ user.profile.has_access }} !== 1){% endif %}">
                                <!-- You must be logged in to sign a petition -->   <span onclick="window.location.href = '/login/?next=/?p='+getUrl('p')" class="cursor" v-if="'{{ user.first_name }}' == ''">Log in to sign this petition</span>
                                {% if user.profile %}
                                    <!-- You cannot sign a petition if ur not a student --> <span v-else-if="({{ user.profile.has_access }} !== 1)">You may not sign petitions</span>
                                {% endif %}
                                <!-- You you have already signed the petition -->   <span v-else-if="petition.isSigned">You have signed this petition</span>
                                <!-- You cannot sign a petition with a response --> <span v-else-if="petition.response">This petition has received a response</span>
                                <!-- You cannot sign an expired petition -->        <span v-else-if="petition.expired">This petition has expired</span>
                                <!-- You may sign the petition -->                  <span v-else>Sign This Petition</span>
                            </button>
                            <span class="padding-left">{[ petition.signatures ]} / {[ petition.threshold ]} Signatures</span>
                        </div>
                        <div id="action-drawer-icon-container" class="transition">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                        {% if user.first_name and user.is_staff %}
                            <div id="admin-actions">
                                <div v-if="!petition.in_progress && !petition.response" class="circle material-shadow material-hover cursor transition left" data-admin-control="mark_in_progress">
                                    <i class="material-icons">check</i>
                                    <span class="invisible transition">Charged</span>
                                </div>
                                <div v-else class="admin-action-spacer left"></div>
                                <div v-if="!petition.response" class="circle material-shadow material-hover cursor transition left" data-admin-control="respond">
                                    <i class="material-icons">chat</i>
                                    <span class="invisible transition">Respond</span>
                                </div>
                                <div v-else class="admin-action-spacer left"></div>
                                <div class="circle material-shadow material-hover cursor transition left" data-admin-control="update">
                                    <i class="material-icons">update</i>
                                    <span class="invisible transition">Update</span>
                                </div>
                                <div class="circle material-shadow material-hover cursor transition left" data-admin-control="delete">
                                    <i class="material-icons">delete</i>
                                    <span class="invisible transition">Delete</span>
                                </div>
                            </div>
                        {% endif %}
                        <div id="action-cards" class="block overflow-hidden right">
                            <div id="social-share" class="right overflow-hidden transition petition-action-card">
                                <h3>Share</h3>
                                <div class="left material-icon-container social-icon" v-for="icon in social" ><a :href="icon.link+petition.id" target="_blank"><img :src="icon.imgURL" :alt="icon.name" :title="icon.name" /></a></div>
                            </div>
                            <div class="petition-action-card margin-right padding-right right">
                                <h3>Expires</h3>
                                <span class="alternate-font">{[ petition.expires ]}</span>
                            </div>
                            <div class="petition-action-card margin-right padding-right right">
                                <h3>Submitted</h3>
                                <span class="alternate-font">{[ petition.timestamp ]}</span>
                            </div>
                            <div class="petition-action-card margin-right padding-right right">
                                <h3>Status</h3>
                                <span class="alternate-font" v-if="petition.signatures < petition.threshold && !petition.in_progress && !petition.response && !petition.expired">Active</span>
                                <span class="alternate-font" v-else-if="petition.signatures > petition.threshold && !petition.in_progress">Threshold Met</span>
                                <span class="alternate-font" v-else-if="petition.response">Responded</span>
                                <span class="alternate-font" v-else-if="petition.in_progress">In Progress</span>
                                <span class="alternate-font" v-else-if="petition.expired">Expired</span>
                                <span class="alternate-font" v-else>In Progress</span>
                            </div>
                            <div class="petition-action-card margin-right padding-right right">
                                <h3>Discuss</h3>
                                <span class="alternate-font">On <a class="text-highlight" :href="'https://www.facebook.com/sharer.php?u=https://pawprints.rit.edu/petition/'+petition.id">Facebook</a></span>
                            </div>
                        </div>
                        <progress class="petition-progress" :value="petition.signatures" :max="petition.threshold"></progress>
                    </div>
                    <div v-else-if="petition.status == 0">
                        <div class="ninety-width">
                            <div class="padding-bottom">You are previewing this petition</div>
                            <button id="edit-button" onclick="window.location.href='/petition/'+getUrl('p')" class="material material-button material-shadow transition left minimal">Still Need Work? Edit it.</button>
                            <button id="publish-button" class="material material-button material-shadow transition left">Look good? Publish it!</button>
                        </div>
                    </div>
                </div>
                <!-- End Petition in progress features. -->

            </div>
        </div>
    </div>
</div>

<main class="full-width">

    <a id="landing-marker"></a>
    <section id="landing" class="parallax-container">
        <div id="parallax-slideshow" class="full-width">
            <div class="slideshow-container">
                <div v-for="(image, index) in images" v-if="index < limit || limit == 0" :id="id_pre+(index+1)" class="slide full-width" :data-backgroundimage="image.url"></div>
            </div>
        </div>
        <div id="parallax-overlay" class="full-width">
            <h1>Make Your Mark</h1>
            <h3>Create and sign petitions.<br />Receive official responses from Student Government.</h3>
            <label id="search-container" for="search-term" class="full-width cursor">
                <div class="material-icon-container">
                    <i class="material-icons">search</i>
                    <input id='search-term' v-model="searchString" @keyup="search" class="material-input" type="text" />
                    <span class="">Search Petitions</span>
                </div>
            </label>
        </div>
    </section>

    <section id="sub-landing" class="relative">

        <nav id="filter-sort" class="left attach" data-top="91" data-left="0">
            <div id="filter-sort-content-box">
                <h3 class="filter-sort-title">Sort By:</h3>
                <select id="sort" data-filter="all" class="material-shadow material-hover cursor transition">
                    <optgroup label="Sort By">
                        <option value="most recent" selected="selected">Active</option>
                        <option value="last signed">Last Signed</option>
                        <option value="in progress">In Progress</option>
                        <option value="responded">Responded</option>
                        <option value="most signatures">Most Signatures</option>
                        <option value="archived">Expired</option>
                    </optgroup>
                </select>
                <h3 class="filter-sort-title">Filter By Tag:</h3>
                <ul class="list full-width">
                    <li id="tag-all" data-tag="all" class="list-item tag current-tag">All</li>
                    {% for tag in tags %}
                        <li id="tag-{{ tag.id }}" data-tag="{{ tag.id }}" class="list-item tag transition">{{ tag.name }}</li>
                    {% endfor %}
                </ul>
                <select id="mobile-filter" class="material-shadow material-hover cursor transition">
                    <optgroup label="Filter By">
                        <option value="all">All</option>
                        {% for tag in tags %}
                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
        </nav>

        <div id="petitions" class="right">
            <div class="block padding text-center" v-if="list.length == 0 && !loading">
                <span class="padding-top">No petitions fit that query!</span>
            </div>
            <div v-if="list.length > 0" id="petitions-container">
                <article v-for="petition in list" v-if="!petition.deleted" v-bind:class="[petition.response ? 'responded ' : petition.in_progress ? 'in-progress ' : ''] + 'petition material-shadow material-hover transition'" :data-petition-id="petition.id">
                    <progress class="petition-progress" max="200" :value="petition.signatures"></progress>
                    <div class="petition-body">
                        <h4 class="petition-signatures">
                            {[ petition.signatures ]}
                            <span v-if="petition.signatures == 1"> Signature</span>
                            <span v-else> Signatures</span>
                            <span v-if="petition.isSigned"> | <span class="bold">Signed</span></span>
                            <span v-if="petition.response" class="right">Responded</span>
                            <span v-else-if="petition.updates.length > 0" class="right">Updated</span>
                            <span v-else-if="petition.in_progress" class="right">In Progress</span>
                        </h4>
                        <h3 class="petition-title"><a class="text-highlight modern-link" :data-petition-id="petition.id">{[ petition.title ]}</a></h3>
                        <ul>
                            <li v-for="tag in petition.tags" :data-tag="tag.id" class="tag material-shadow transition">{[ tag.name ]}</li>
                        </ul>
                    </div>
                </article>
            </div>
            <div v-if="loading" id="loading-petitions">
                <div class="load-container">
                    <ul class="load-flex-container">
                        <li>
                            <span class="load-loading"></span>
                        </li>
                    </ul>
                </div>
                Loading Petitions...
            </div>
        </div>

    </section>

</main>

{% if user.first_name and user.profile.has_access == 1 %}
    <button id="new-petition" class="cursor circle background-highlight bright-text light material-hover transition"><span class="material-icon-container"><i class="material-icons">add</i></span></button>
    <script>
        $(document).ready(function(){
            $("#new-petition").click(function(){
                $.post("/petition/create/",{"csrfmiddlewaretoken":get_csrf()},function(r){
                    var petition = Number(r);
                    if(!isNaN(petition)){
                        window.location.href = "/petition/"+petition;
                    }
                });
            });
        });
    </script>
{% else %}
    <script>
        $(document).ready(function(){
            $("#back-up").css({"bottom":"42.5px"});
        });
    </script>
{% endif %}
{% if user.is_staff %}
    {% compress js %}
    <script src="{% static '/js/adminedit.js' %}"></script>
    {% endcompress %}
{% endif %}

<a id="back-up" href="#landing-marker" class="padding circle transition material-shadow material-hover"><span class="material-icon-container"><i class="material-icons">expand_less</i></span></a>
</div>
{% csrf_token %}
</body>
{% compress js %}
<script src="{% static '/js/index.js' %}"></script>
{% endcompress %}
</html>
