<!doctype html>
<html lang="en">
<head>
    {% load compress %}
    {% load static %}
    {% include 'head.html' with analytics_id=analytics_id %}
    <script src="{% static '/tinymce/tinymce.min.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/petition.css' %}">
    {% endcompress %}
    <title>Edit {{petition.title}}</title>

</head>

<body>

<div id="wrapper">
    {% include 'header.html' with main_logo=main_logo generate_top_nav=generate_top_nav name=name %}

    <main class="ninety-width">
        <a id="landing-marker"></a>
        <section id="landing" class="material-shadow margin">

            <div class="white-background padding-left padding-right padding-bottom overflow-hidden">
                <h3>Instructions</h3>
                <p>
                    To edit the title or description of this petition, click on each respective area.
                    <br />
                    Your changes are automatically saved.
                </p>
                {% if name == "PawPrints" %}
                <p>
                    <span class="bold">If this petition is...</span>
                    <ul>
                        <li>About another student, staff, or faculty member, talk to the <a href="https://www.rit.edu/ombuds/">Ombuds</a> office instead!</li>
                    </ul>
                </p>
                {% endif %}
            </div>

        </section>

        <section class="margin-top padding-top">
            <article class="padding">
                <h4 class="fieldTitle">Petition Title:</h4>
                <h1 id="petition_title" class="editable margin-top verify" data-limit-length="true" data-verify-fail-message="<p>The Title of your petition should quickly describe your petition.</p>">{{petition.title}}</h1>
            </article>
            <article class="padding">
                <h4 id="petition_description_title" class="fieldTitle">Petition Description:</h4>
                <div id="petition_description" class="editable margin-top verify" data-verify-fail-message="<p>The Description of your petition should be a custom message you want to get out to the student body.</p>">{{petition.description}}</div>
            </article>
            <article class="padding-bottom padding-left padding-right margin-bottom">
                <h4 class="padding-bottom fieldTitle">Tags</h4>
                <select id="tags-select" name="tags[]" multiple="multiple" class="full-width verify" data-verify-fail-message="<p>You must assign at least one tag to your petition</p>">
                    {% for tag in petition.tags.all %}
                    <option value="{{tag.id}}" selected="selected">{{tag.name}}</option>
                    {% endfor %}
                    {% for tag in additional_tags %}
                    <option value="{{tag.id}}">{{tag.name}}</option>
                    {% endfor %}
                </select>
            </article>
        </section>

        <div class="text-center">
            <button id="preview" class="material material-button minimal material-shadow inline transition" onclick="window.location.href='/?p={{petition.id}}'">Preview</button>
            <button id="publish" class="material material-button material-shadow transition inline">Publish!</button>
        </div>


    </main>



    {% if petition.status != 0 or petition.author.id != user.id %}
    {# This block of code redirects the user back to the home page if the petition they are trying to get to has been published or unpublished. #}
        <script>
            window.location.href='/?p={{petition.id}}';
        </script>
    {% endif %}

    {% if edit %}
    <!--
        The logic to make the petition editable, if the user has permission.

        If the user does have permission, they can edit an element by clicking on editable places
     -->
        <script>var petition_id = {{petition.id}};</script>
        {% compress js %}
        <script src="{% static '/js/petitionedit.js' %}"></script>
        {% endcompress %}
    {% endif %}

</body>
</html>
